$background-colour: aliceblue;
$sidebar-color: steelblue;
$radious: 25px;
$title-weight: bold;
$wiki: italic;
$shadow-black:
0 2px 5px 5px rgba(111, 104, 104, 0.1),
0 2px 5px 5px rgba(100, 100, 132, 0.1);

$shadow-white: 3px 3px 5px 6px aliceblue;

body {
  padding: 2%;
  background-color: $background-colour;
  font-family: monospace;

  .right-menu {
    display: flex;
    justify-content: flex-end;
  }
  hr {
    margin-bottom: auto;
  }
  .signed_in {
    text-align: right;
  }
  
  .index {

    .index-title {
      text-align: center;
      padding: 4%;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 10px;
      
      .card {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto auto;
        background-color: white;
        border-radius: 10px;
        color: #101010;
        height: 100%;
        padding-right: 5%;
        padding-left: 5%;
        transition: 0.5s;
        
        &__img {
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          object-fit: scale-down;
        }
  
        &__info {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
          padding-top: 5%;
        }

        &__price {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
        }

        &:hover {
          box-shadow: $shadow-black;
          transition: 0.5s;
        }
      }
    }
  }

  .auction {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);

    &__info {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      margin: 2%;
      text-align: center;
      
    }

    &__img {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
    }

    &__content {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      padding: 2%;
      text-align: justify;
    }

    &__price {
      padding: 4%;
      text-align: center;

      .price {
        display: inline-block;
      }
    }

    &__buttons {
      
      .watchlist {
        text-align: right;
        padding: 4%;

        input {
          width: 100%;
        }
      }

      .bid {
        padding: 4%;
        
        &__button {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          input {
            width: 100%;
          }
        }
      }

      .close-bid {
        text-align: right;
        padding: 4%;

        input {
          width: 100%;
        }
      }
    }

    &__comment {
      grid-column: 1 / 4;
      grid-row: 4 / 5;

      section {
        padding: 2%;
      }
  
      .comment-button {
        padding-top: 1%; 
  
        input {
          width: 25%;
        }
      }


      .content {
        padding-right: 4%;

        .author {
          margin: 0;
        }
      }
    }
  }

  .watchlist {

    .watchlist-title {
      text-align: center;
      padding: 4%;
    }

    .cards {
      display: grid;
      padding: 10px;
      justify-content: center;

      .list {
        display: flex;
        justify-content: center;

        .card {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, auto);
          background-color: white;
          border-radius: 10px;
          color: #101010;
          height: 175px;
          width: 75%;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
  
          &__img {
            grid-column: 1 / 2;
            grid-row: 1 / 4 ;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          &__info {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            padding: 5%;
          }

          &:hover {
          box-shadow: $shadow-black;
          transition: 0.5s;
          }
        }
      }
    }
  }

  .add-auction {
    width: 50%;

    .add-title {
      text-align: center;
      padding: 8%;
    }

    .add-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, auto);

      &__title {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        margin-bottom: 2%;
      }

      &__description {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        margin-bottom: 2%;
      }

      &__category {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-bottom: 4%;
      }

      &__bid {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }

      &__button {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        margin-top: 4%;
        text-align: right;

        input {
          width: 25%;
        }
      }
    }
  }

  .form-login {
    width: 50%;

    .title {
      text-align: center;
      padding: 8%;
    }
  }

  .form-register {
    width: 50%;

    .title {
      text-align: center;
      padding: 8%;
    }
  }
}
