{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for list in listings %}
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'auction' list.id %}">
            {% endif %}
                <span>
                    <li><h3>{{ list.title }}</h3></li>
                    <p><b>Category:</b> {{ list.category }}</p>
                    <p><b>Description: </b>{{ list.description }}</p>
                        {% if list.url %}
                        <img src="{{ list.url.url }}" alt=" {{ list.title }}" width="500">
                        {% endif %}
                    <h4>{{ list.bid }}</h4>
                </span>
            </a>
        {% empty %}
        <li>No active auctions.</li>
        {% endfor %}
    </ul>
{% endblock %}
