{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div>Filter by Category {{ category_option }}
        <input type="submit" value="Search"></div>
    </form>
    {% for list in auction_listings %}
        <a class="nav-link" href="{% url 'auction' list.id %}">
            <div class="card" style="width: 18rem;">
                {% for item in in_watchlist %}
                    {% if item.auction.product.title == list.product.title %}
                    <h5 class="card-header">Watchlist</h5>
                    {% endif %}
                {% endfor %}
                {% if list.product.url %}
                <img class="card-img-top" src="{{ list.product.url.url }}" alt=" {{ list.product.title }}" width="500">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ list.product.title }}</h5>
                    <p class="card-text">{{ list.product.description }}</p>
                    <p class="card-text font-weight-bold">£{{ list.product.price }}</p>
                </div>
            </div>
        </a>
    {% empty %}
    <li>No active auctions.</li>
    {% endfor %}
{% endblock %}
