{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for list in auction_listings %}
            <a class="nav-link" href="{% url 'auction' list.id %}">
                <span>
                    <li><h3>{{ list.product.title }}</h3></li>
                    <p><b>Category:</b> {{ list.product.category }}</p>
                    <p><b>Description: </b>{{ list.product.description }}</p>
                        {% if list.product.url %}
                        <img src="{{ list.product.url.url }}" alt=" {{ list.product.title }}" width="500">
                        {% endif %}
                    <h4>£{{ list.product.price }}</h4>
                </span>
            </a>
        {% empty %}
        <li>No active auctions.</li>
        {% endfor %}
    </ul>
{% endblock %}
