{% extends 'auctions/layout.html' %}

{% block body %}
  <h3>Hello {{ user }}</h3>
  <h2>Watchlist</h2>
  
  <ul>
    {% for watchlist in user_watchlist %}
    <a class="nav-link" href="{% url 'auction' watchlist.auction.id %}">
      <span>
        <li>
          <h3>{{ watchlist.auction.product.title }}</h3>
        </li>
        <p><b>Category:</b> {{ watchlist.auction.product.category }}</p>
        <p><b>Description: </b>{{ watchlist.auction.product.description }}</p>
        {% if watchlist.auction.product.url %}
        <img src="{{ watchlist.auction.product.url.url }}" alt=" {{ watchlist.auction.product.title }}" width="500">
        {% endif %}
        <h4>£{{ watchlist.auction.product.price }}</h4>
      </span>
    </a>
    {% empty %}
    <li>No active watchlist.</li>
    {% endfor %}
  </ul>
{% endblock %}
